/* General */
#root {
  background: #4b9ea1 !important;
  padding-bottom: 5em;
}

input, button, select {
  font-size: 0.75em;
  font-weight: 400 !important;
  line-height: 1.5em !important;
  color: #4b9ea1 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  padding: 0.75em 1em !important;
}

::placeholder {
  font-size: 1em !important;
}

p {
  line-height: 0.8em !important;
}

.profile {
  font-size: 1em !important;
  font-weight: 600 !important;
  line-height: 2.25em !important;
  color: #ffffff !important;
  margin: 0.25em 0 !important;
  font-family: Arial,
  Helvetica,
  sans-serif !important;
}

h1 {
  font-size: 1.75em !important;
  font-weight: 600 !important;
  line-height: 2em !important;
  margin-bottom: 0.5em !important;
  color: #ffffff !important;
  font-family: Arial, Helvetica, sans-serif !important;
  padding: 0.5em 0 !important;
  margin: unset !important;
  text-align: center;
}

h2 {
  font-size: 1.5em !important;
  font-weight: 500 !important;
  line-height: 2em !important;
  color: #ffffff !important;
  font-family: Arial, Helvetica, sans-serif !important;
  margin: unset !important;
}

h3 {
  font-size: 1.5em !important;
  font-weight: 400 !important;
  line-height: 2em !important;
  color: #ffffff !important;
  margin: unset !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

h4 {
  font-size: 1em !important;
  font-weight: 600 !important;
  line-height: 1.25em !important;
  color: #ffffff !important;
  margin: 0.25em 0 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

h5 {
  font-size: 0.75em !important;
  font-weight: 400 !important;
  line-height: 1em !important;
  color: #000000 !important;
  margin: unset !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

h6 {
  font-size: 0.75em !important;
  font-weight: 400 !important;
  line-height: 0em !important;
  color: palegoldenrod !important;
  margin: unset !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.chatBtn {
  display: block;
  text-align:center;
  margin:auto;
  width: 80%;
}

input {
  border-radius: 5px !important;
  border-style: unset !important;
  width: 22em;
  margin-bottom: 15px !important;
}

button {
  border-radius: 20px !important;
  padding: 0.5em 1.5em !important;
  margin: 2em 1em !important;
  background-color: #ffffff !important;
  text-transform: uppercase;
}

button:hover {
  opacity: 0.7;
}

a {
  margin-bottom: 0.5em !important;
  font-family: Arial, Helvetica, sans-serif !important;
  padding: 0.1em 0 !important;
  margin: unset !important;
  text-decoration: none;
}

img {
  align-self: center;
  margin-top: 4em;
}

a:hover {
  cursor: pointer;
}

table {
  font-size: 1em !important;
  font-weight: 400 !important;
  line-height: 1.5em !important;
  color: #222222 !important;
  font-family: Arial,
  Helvetica,
  sans-serif !important;
  padding: 0.0em 0.25em !important;
}

thead {
  border-bottom: #222222;
}

@media only screen and (max-width: 767px) {
  input {
    max-width: 250px;
  }
}
/* Landing */
#signinblock {
  flex-direction: column !important;
}

@media only screen and (max-width: 767px) {
  #signin-input-wrapper {
      flex-direction: column;
      width: 100px !important;
  }
}

/* Dashboard styling */
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0.5em;
  align-self: center;
  background-color: white;
  justify-content: space-evenly;
  width: 100vw;
  z-index: 1;
}

.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: grey;
  opacity: 0.5;
  font-size: 2em !important;
}

.menuItem:hover, footer > .menuactive > .menuItem {
  color: #4b87a1;
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .menuItem {
    font-size: 1.75em !important;
  }
}

/* Booking Page */
.booking-wrapper {
  background-color: #ffffff !important;
  background: #ffffff !important;
}