/* General */
#root {
  background: #4b9ea1 !important;
}
input, button {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  color: #222222 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  padding: 0.25em 0.5em !important;
}

p {
  line-height: 10px !important;
}

h1 {
  font-size: 2em !important;
  font-weight: 600 !important;
  line-height: 2.5em !important;
  margin-bottom: 0.5em !important;
  color: #ffffff !important;
  font-family: Arial, Helvetica, sans-serif !important;
  padding: 0.5em 0 !important;
  margin: unset !important;
  text-align: center;
}

h2 {
  font-size: 1.5em !important;
  font-weight: 500 !important;
  line-height: 2em !important;
  color: #ffffff !important;
  font-family: Arial, Helvetica, sans-serif !important;
  margin: unset !important;
}

h3 {
  font-size: 1.5em !important;
  font-weight: 400 !important;
  line-height: 2em !important;
  color: #ffffff !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

h4 {
  font-size: 1em !important;
  font-weight: 600 !important;
  line-height: 1.5em !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

h5 {
  font-size: 0.75em !important;
  font-weight: 400 !important;
  line-height: 1em !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

input {
  border-radius: 5px !important;
  border-style: unset !important;
  width: 300px;
  margin-bottom: 15px !important;
}

input [type=button] {
  border-radius: 5px !important;
  border-style: unset !important;
  width: 70px;
  margin-bottom: 15px !important;
}

button {
  border-radius: 20px !important;
  padding: 0.25em 1.5em !important;
  margin: 0.5em !important;
  border: 0 !important;
  
}

button:hover {
  background-color: #4b87a1 !important;
  color: white !important;
}

a {
  margin-bottom: 0.5em !important;
  color: #ffffff !important;
  font-family: Arial,
  Helvetica,
  sans-serif !important;
  padding: 0.1em 0 !important;
  margin: unset !important;
}

a:hover {
  cursor: pointer;
}

table {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  color: #222222 !important;
  font-family: Arial,
  Helvetica,
  sans-serif !important;
  padding: 0.25em 0.5em !important;
  width: 60em;
}

thead {
  border-bottom: #222222;
}

/* Landing */
@media only screen and (max-width: 767px) {
  #signin-input-wrapper {
      flex-direction: column;
      width: 100px !important;
  }
}

/* Dashboard styling */
#dashboardWrapper {
  width: 100vw;
  height: 4em;
  padding: 0.5em;
  background-color: white;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto 1em;
  color: grey;
}

.menuItem:hover, #dashboardWrapper > a:active {
  color: #4b87a1;
}

/* Booking Page */
#bookPage {

}

#acctPage {

}
